@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

 
}



body {

}
#my-tooltip {
  background-color: white !important;
  color: black !important;
  border: 1px solid #ccc !important;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25) !important;
  opacity: 1 !important;
}
/* Flyout styles */
.flyout {
  position: fixed;
  right: 0;
  top: 0;
  width: 550px;
  height: 100vh;
  overflow-y: auto;
  background-color: white;
  padding-top: 43px;
  padding-bottom: 43px;
  padding-left: 24px;
  padding-right: 24px;
  z-index: 10;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}
.flyout.open {
  transform: translateX(0);
}

.filterflyout {
  position: fixed;
  right: 0;
  top: 0;
  width: 80%;
  height: 100vh;
  overflow-y: auto;
  background-color: white;
  padding-top: 43px;
  padding-bottom: 43px;
  padding-left: 24px;
  padding-right: 24px;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}
.filterflyout.filteropen {
  transform: translateX(0);
}
@media (min-width: 768px) {
  .filterflyout {
    width: 550px;
  }
}
.leftSideBar {
  position: fixed;
  left: 0;
  top: 0;
  width: 80%;
  height: 100vh;
  overflow-y: auto;
  background-color: white;
  padding-top: 43px;
  padding-bottom: 43px;
  padding-left: 24px;
  padding-right: 24px;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}
.leftSideBar.leftSideBarOpen {
  transform: translateX(0);
}
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Adjust scale size as needed */
  }
}
.animate-pulse {
  animation: pulse 1.5s infinite; /* Customize duration as needed */
}
.react-tel-input .flag-dropdown {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  padding: 0 !important;
  left: 0 !important;
  background-color: #f5f5f5 !important;
  border: 1px solid #DFEAF2 !important;
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}
.react-tel-input .form-control {
  position: relative !important;
  font-size: 15px !important;
  letter-spacing: .01rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 48px !important;
  margin-left: 0 !important;
  background: #FFFFFF !important;
  border: 1px solid #DFEAF2 !important;
  border-radius: 15px !important;
  line-height: 25px !important;
  height: 50px !important;
  width: 100% !important;
  outline: none !important;
  color: #718EBF !important;
}
.custom-player-container {
  width: 100% !important; /* Full width */
  /* max-width: 500px;  */
  /* Optional: Limit maximum width */
  height: 100% !important; /* Set a fixed height */
  border-radius: 5px !important; /* Apply rounded corners */
  overflow: hidden; /* Ensure border radius affects the child content */
  position: relative; /* Optional: For positioning adjustments */
}

.custom-player {
  width: 100% !important; /* Fill the container */
  height: 100% !important; /* Fill the container */
}
.react-datepicker-wrapper {
  display: block !important;
}
